* {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.slider__product{

    .slick-list {
        width: 1080px;
        margin: 0 auto !important;
        padding-bottom:25px;

        .slick-slide {
            position: relative;
            left: 10px;
        }
    }

    .slick-dots{
        bottom: 0;
    }
}


/*
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
